[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
UserSettings/

MemoryCaptures/

*.csproj
*.unityproj
*.sln
*.user
*.userprefs
*.pidb
*.booproj
*.svd

.DS_Store
Thumbs.db
.vs/Dataexplorer/CopilotIndices/17.14.1347.20289/CodeChunks.db
.vs/Dataexplorer/CopilotIndices/17.14.1347.20289/CodeChunks.db-shm
.vs/Dataexplorer/CopilotIndices/17.14.1347.20289/CodeChunks.db-wal
.vs/Dataexplorer/CopilotIndices/17.14.1347.20289/SemanticSymbols.db
.vs/Dataexplorer/CopilotIndices/17.14.1347.20289/SemanticSymbols.db-shm
.vs/Dataexplorer/CopilotIndices/17.14.1347.20289/SemanticSymbols.db-wal
.vs/Dataexplorer/FileContentIndex/231cb3c5-aa29-410b-8fb7-5dd11f617ba7.vsidx
.vs/Dataexplorer/FileContentIndex/23a6df3d-d6a7-4ca3-80e4-40e4dd7a88bb.vsidx
.vs/Dataexplorer/FileContentIndex/3aaf1c86-cfc6-4846-8086-1c4f379f6ece.vsidx
.vs/Dataexplorer/FileContentIndex/4642d82f-f1ce-4fb2-9c7f-39e869d3ca9d.vsidx
.vs/Dataexplorer/FileContentIndex/526c5eaf-fe09-4517-8e10-bc42a74da5ca.vsidx
.vs/Dataexplorer/FileContentIndex/a3a4ff15-57ca-4c67-ad5c-428988184fc4.vsidx
.vs/Dataexplorer/FileContentIndex/a8049564-046e-4249-9f3d-faa27a5ae5e3.vsidx
.vs/Dataexplorer/FileContentIndex/c455a037-a3b2-4936-b18f-9e69fd510425.vsidx
.vs/Dataexplorer/FileContentIndex/d0c1d71e-61cb-4cb8-9779-09b0106d8161.vsidx
.vs/Dataexplorer/FileContentIndex/e2061247-eb20-47e2-b6a4-d0c11ebacd92.vsidx
.vs/Dataexplorer/v17/.suo
.vs/Dataexplorer/CopilotIndices/17.14.1347.20289/CodeChunks.db
.vs/Dataexplorer/CopilotIndices/17.14.1347.20289/SemanticSymbols.db
.vs/Dataexplorer/FileContentIndex/4642d82f-f1ce-4fb2-9c7f-39e869d3ca9d.vsidx
.vs/Dataexplorer/FileContentIndex/a3a4ff15-57ca-4c67-ad5c-428988184fc4.vsidx
.vs/Dataexplorer/FileContentIndex/a8049564-046e-4249-9f3d-faa27a5ae5e3.vsidx
.vs/Dataexplorer/FileContentIndex/c455a037-a3b2-4936-b18f-9e69fd510425.vsidx
.vs/Dataexplorer/FileContentIndex/e2061247-eb20-47e2-b6a4-d0c11ebacd92.vsidx
.vs/Dataexplorer/v17/.suo
